/* CartPage.css */

.cart-page {
    padding: 20px;
  }
  
  .cart-product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .cart-product-card {
    width: 300px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
  }
  
  .cart-product-card:hover {
    transform: translateY(-5px);
  }
  
  .cart-product-card img {
    width: 100%;
    height: auto;
    border-radius: 4px;
  }
  
  .cart-product-card h2 {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #333;
  }
  
  .cart-product-card p {
    color: #666;
  }
  
  .total-price {
    margin-top: 20px;
    font-size: 1.2rem;
  }
  
  .checkout-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .checkout-button:hover {
    background-color: #45a049;
  }
  
  
  .ShoppingCart{
    width: 80%;
    background-color: aqua;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 140px;
    border-color: #333;
    border-radius: 20px;
    align-items: center;
    text-align: center;
  }
  
  .total-price{
    margin-top: 20px;
    font-size: 1.2rem;
    text-align: center;
  }
  
  #checkoutButton{
    align-items: center;
    align-content: center;
    text-align: center;
  }
  
  
  .row-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 40px;
  }
  
  .left-div {
    flex: 1; /* Takes up the available space */
  }
  
  .right-div {
    flex: 1; /* Takes up the available space */
    margin-left: 70px;
  }
  
  .CartDiv{
    margin-bottom: 90px;
  }
  
  #Button-long{
    width: 300px;
    align-items: center;
    text-align: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
  }